
body { 
	background: #FDFDFD; 
}
body, input, textarea { 
	font: 14px/24px Helvetica, Arial, sans-serif; 
	color: #666; 
}
input { 
	width: 60% 
}
form { 
	margin: 30px 0 0 0 
}
input, textarea { 
	background: none repeat scroll 0 0 #FFFFFF; 
	border: 1px solid #C9C9C9; 
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset, -5px -5px 0 0 #F5F5F6, 5px 5px 0 0 #F5F5F6, 5px 0 0 0 #F5F5F6, 0 5px 0 0 #F5F5F6, 5px -5px 0 0 #F5F5F6, -5px 5px 0 0 #F5F5F6; 
	color: #545658; 
	padding: 8px; 
	font-size: 14px; 
	border-radius: 2px 2px 2px 2px; 
}
#submit { 
	background: url("../images/submit_bg.gif") repeat-x scroll 0 0 transparent; 
	border: 1px solid #B7D6DF; 
	border-radius: 2px 2px 2px 2px; 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
	color: #437182; 
	cursor: pointer; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size: 14px;
	font-weight: bold; 
	height: auto; 
	padding: 6px 10px; 
	text-shadow: 0 1px 0 #FFFFFF; 
	width: auto; 
}
#submit:hover { 
	background: url("../images/submit_hover_bg.gif") repeat-x scroll 0 0 transparent; 
	border: 1px solid #9FBAC0; 
	cursor: pointer; 
}
a { 
	color: #88BBC8; 
	text-decoration: none; 
}
a:hover { 
	color: #f26525 
}
#signup-form { 
	width: 510px; 
	margin: 0 auto; 
	margin-top: 50px; 
	margin-bottom: 50px; 
	background: #fff; 
	padding: 40px; 
	border: 10px solid #f2f2f2; 
}
#signup-icon { 
	float: right; 
	width: 48px; 
	height: 48px; 
}
h1, h2, h3, h4, h5, h6 { 
	margin: 0; 
	padding: 0; 
	color: #444; 
}
h1 { 
	float: left; 
	margin: 0 0 30px; 
	font-size: 24px; 
	line-height: 34px; 
}
h2.secondary { 
	float: left; 
	width: 260px; 
	font-size: 16px; 
	font-weight: normal; 
	color: #999; 
	margin-bottom: 30px; 
	line-height: 26px; 
}
h3 { 
	margin: 30px 0 0 0 
}
.clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}
.clearfix { 
	display: inline-block 
} /* Hide from IE Mac \*/
.clearfix { 
	display: block; 
} /* End hide from IE Mac */
.none { 
	display: none; 
} /* End Clearfix _NO__DOTCOMMA__AFTER__*/

#header { 
	margin: 0 0 30px 0; 
	border-bottom: 1px solid #efefef; 
}
#send p { 
	margin-bottom: 20px 
}
textarea { 
	width: 95%; 
	margin: 0 0 0 2px; 
}
#required p{
	font-size:10px;
}
#apply { 
	border-top: 1px solid #efefef; 
	margin-top: 30px; 
	padding: 20px 0 0 0; 
}
#apply ul { 
	margin-bottom: 50px 
}
form label { 
	display: block; 
	margin-bottom: 5px; 
	font-weight: bold; 
	font-size: 12px; 
}

body{background: #fff url("@routes.Assets.at("images/background.png")");} 
            .container{width:1100px; height: auto; margin: 0 auto; margin-top: 50px;}
            .header{ height: 150px; background: #d2d2d2;background: #fff url("@routes.Assets.at("images/fundobox.png")") repeat-x;}
            .insideHeader{margin: 0 auto; width:1100px; height: 150px;}
            .bar{height: 40px; background: #323436;}
            .boxes{width:640px; height: 200px; background: #fff url("@routes.Assets.at("images/fundobox.png")") repeat-x; border: 1px solid #ccc; margin-bottom: 15px; float: left; border-radius: 10px;}
            .insideBox{width:620px; height: 130px; margin: 0 auto; padding-top:10px; }
            .insideSidebar{width:400px; height: 300px; padding-top:10px; text-align: center;}
            .sidebar{width:400px; float: right; height: 250px; background: #fff url("@routes.Assets.at("images/fundobox.png")") repeat-x; border: 1px solid #ccc; border-radius: 10px;}
            .clear{clear: both;}
            .logo{width:500px; height: 150px; margin-bottom: 15px; float: left; margin-left: 10px; margin-top: 30px;}
            .button_p{width:226px; float: right; height: auto; margin-top: 17px; margin-right: 17px; margin-top: 35px;}

            .publishButton{
            font:bold 15px Tahoma, Geneva, sans-serif;
            font-style:normal;
            color:#ffffff;
            background:#f26e40;
            border:0px solid #ffffff;
            text-shadow:0px -1px 1px #222222;
            box-shadow:2px 2px 5px #000000;
            -moz-box-shadow:2px 2px 5px #000000;
            -webkit-box-shadow:2px 2px 5px #000000;
            border-radius:10px 10px 10px 10px;
            -moz-border-radius:10px 10px 10px 10px;
            -webkit-border-radius:10px 10px 10px 10px;
            width:226px;
            padding:20px 43px;
            cursor:pointer;
            margin:0 auto;
            }
            .publishButton:active{
            cursor:pointer;
            position:relative;
            top:2px;
            }
